<nav>
  <div class="nav-wrapper">
    <a href="/" class="logo left">LearnToCode</a>
    <ul id="nav" class="right">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal_signup">Sign Up!</a>
        <a class="waves-effect waves-light btn modal-trigger" href="#modal_login">Login</a>
    </ul>
  </div>
</nav>
<p id="notice"><%= notice %></p>
<div class="mid">
  <div id="intro">
    <h4>There are a lot of different careers in the tech world, the most
      creative is Full Stack Web Development. Create and design your own web apps
      (aka web sites). You are only limited by your own genius. Build apps to
      help other people, to help yourself, and/or to make money. Whatever your
      decision may be, getting started can be rough.</h4> </br>
      <h4> This web app will help you gain an intermediate to advanced knowledge of javascript;
      the right way to establish a solid foundation to enter into a bootcamp.
      It also lists the steps to completely teach yourself a full tech stack and to start a
      career in web development.
    </h4>
  </div>
</div>
<%= render "shared/footer" %>
<%= render "shared/sign_up_login_modal" %>
