<nav>
  <div class="tasks-header">
    <a href="/pages/start" class="logo left">Code</a>
    <ul id="nav-mobile" class="right">
      <%= link_to "Get Started", href="/pages/start", class: "btn waves-effect waves-light" %>
      <%= link_to "Javascript", href="/pages/javascript", class: "btn waves-effect waves-light" %>
      <%= link_to "Full Stack", href="/pages/full", class: "btn waves-effect waves-light" %>
    </ul>
  </div>
</nav>
