<div id="modal4" class="modal sick">
  <div class="modal-content">
    <%= form_for @post_comment, :class=> "col s12" do |f| %>
   <div class="row">
     <div class="input-field col s12">
       <%= f.text_field :comment %>
       <%= f.label :comment, :class=> "active" %>
     </div>
   </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
      <%= f.submit "submit", :class=> "btn-flat" %>
    </div>
    <% end %>
  </div>
</div>
