<%= render "shared/nav" %>
<%= render "shared/code_nav" %>
<div class="hero container">
  <section class="row">
      <div class="grid">
        <h1>Start with Javascript</h1>
          <p> This is the absolute most important step in your whole journey, one you will work on your entire career.
            Javascript is an object oriented programming language used for the front end and back end.
            Start with javascript before you learn HTML and CSS. Why?
            Learning an object oriented programming language is a lot harder to learn than HTML and CSS. The sooner you get started the better. Also,
            once you learn a OOP language, it's a lot easier to learn other OOP languages because a lot of them are the exact
            same concepts, just done differently with different syntax. Coding is hard, it's not easy. Spend one to two hours every day learning.
            You may hit a wall when you are first getting started, but know this: it will all make sense. It will also become
            a lot of fun. It's all about problem solving and becoming a better critical thinker. Well, where to start?
          </p>
        <h2>Sites To Learn Javascript</h2>
            <a href="https://www.codecademy.com/">CodeAcademy.com</a>
              <p>CodeAcademy has a lot! You can do the free version or pay if you want help. I've done both.
                I've used it for multiple languages, great way to get started. Just stick with Javascript.
                After you've gotten a good handle on JS, then use it for HTML, CSS, and the Command Line. CodeAcademy is
                the perfect way to get started. They give you a great basis for moving forward.
              </p>
            <a href="https://www.hackreactor.com/prep-programs?utm_source=googlesearchnetwork&utm_medium=cpc&utm_campaign=P_Search_Brand_Prep">Hack Reactor Prep</a>
              <p>You can do the free version or pay if you want help. I've done both.
                This is a great way to solidify your skills and to move on to the next level. You won't be able
                to make it into the program if you haven't solidified your skills on CodeAcademy.
              </p>
            <a href="http://jshint.com/">jshint.com</a>
              <p>This is a site that helps check your code to see if you are missing any of the basics. Such as
                commas, semicolons, and parentheses. Seems trivial, but it is crucial when you are first getting
                started. Always check your code if it's not running in your console/text editor.
              </p>
        <h2>Learn Higher Order Functions</h2>
          <a href="https://medium.com/humans-create-software/a-dirt-simple-introduction-to-higher-order-functions-in-javascript-b33bf9e19056">Intro to HOFs</a>
          <p> A HOF is a function that accepts another function as an argument,
            a callback. Fancy For Loops that do amazing
            things for you. Learn them and love them. Also, the guy in the
            above article has a wonderful youtube
            channel that is great for learning about JS in all of it's glory.
          </p>
          <ol>
            <li>forEach</li>
            <li>map</li>
            <li>reduce</li>
            <li>filter</li>
          </ol>
        <h2>Learn Recursion</h2>
          <a href="https://www.cs.umd.edu/class/fall2002/cmsc214/Tutorial/recursion.html">Intro to Recursion</a>
          <p> Recursion is a rabbit hole you want to go down. It's a function
            that calls itself until it solves
            a problem by solving parts of a problem, one at a time. You need
            a base case and then a recursive call.
            Read the above article to start down the path of recursion.
          </p>
        <h1>What You Need To Know In Javascript</h1>
          <p>I am going to give you a list of a lot of the functions, objects
             methods, and concepts you need to
             know before you move on. These are the foundation of javascript.
          </p>
        <h2>Math Object</h2>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math">MDN Web Docs On Math</a>
          <p>MDN Web Docs States "Math is a built-in object that has
             properties and methods for mathematical constants and functions.
             Not a function object." Math has a lot of useful methods you
             will utilize.
          </p>
          <ol>
            <li>Math.abs</li>
            <li>Math.ceil</li>
            <li>Math.floor</li>
            <li>Math.pow</li>
            <li>Math.max</li>
            <li>Math.min</li>
            <li>Math.sqrt</li>
          </ol>
        <h2>Array Object</h2>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">MDN Web Docs On Array</a>
            <p>MDN Web Docs States "The JavaScript Array object is a global
               object that is used in the construction of arrays; which are
               high-level, list-like objects." A composite (reference) data
               type used to hold a list of info. It can hold multiple variable
               types. Extremely important.
            </p>
            <ol>
              <li>array.splice</li>
              <li>array.push</li>
              <li>array.pop</li>
              <li>array.shift</li>
              <li>array.unshift</li>
              <li>array.join</li>
              <li>array.reverse</li>
              <li>array.concat</li>
              <li>Array.isArray</li>
            </ol>
        <h2>String Object</h2>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">MDN Web Docs On String</a>
            <p>MDN Web Docs States "The String global object is a constructor
               for strings, or a sequence of characters." A string is a variable
               that has a primitive data type. It has some very useful methods.
            </p>
            <ol>
              <li>slice</li>
              <li>split</li>
              <li>trim</li>
              <li>replace</li>
              <li>toLowerCase</li>
              <li>toUpperCase</li>
              <li>indexOf</li>
              <li>replace</li>
            </ol>
        <h2>Operators</h2>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators">MDN Web Docs On Operators</a>
            <p>MDN Web Docs States "The String global object is a constructor
               for strings, or a sequence of characters." A string is a variable
               that has a primitive data type. It has some very useful methods.
            </p>
            <ol>
              <li>typeof</li>
              <li>instanceof</li>
              <li>delete</li>
            </ol>
      </div>
    </section>
</div>
<%= render "shared/footer" %>
