<%= render "shared/nav" %>
<%= render "shared/code_nav" %>
<div class="hero container">
  <section class="row">
      <div class="grid">
        <h1>Get Started</h1>
        <p> You need all of these tools before you learn to code.</p>
          <h2>Everything You Need For Your Journey</h2>
          <ol>
            <li>A Computer. Mac Or A Linux Machine, preferably. </li>
            <li>Text Editor</li>
            <li>Github Account</li>
            <li>Terminal/CLI</li>
            <li>Google Chrome/Chrome Dev Tools</li>
            <li>Heroku Account</li>
            <li><a href="http://jshint.com/">jshint.com &nbsp</a>Bookmarked</li>
          </ol>
          <h1>Googling</h1>
          <p>This is one of your first and foremost important skills to learn.
             Utilize google for every question. The trick is knowing what to ask,
             which is hard at first. Start
             with a specific noun and then the language it is related to. For instance,
             object assignment javascript. Learning how to properly assign key
             value pairs for an object. Most often, your question has been answered
             on <a href="https://stackoverflow.com/">Stack Overflow</a>.
          </p>
          <h1>1. Your Computer</h1>
          <p> Mac or Linux machine preferably. The reason why is they both have a terminal
            that you can type in Linux/Unix commands to control your computer. However,
            the newer Windows computers have a terminal that you can use with Linux
            commands. Windows went open source late 2016. If you can't run Linux commands
            from your windows terminal, then either update to the latest version of Windows,
            buy a mac, or install Linux on a virtual machine on your computer. If you chose
            the last option, go <a href="https://www.storagecraft.com/blog/the-dead-simple-guide-to-installing-a-linux-virtual-machine-on-windows/">here</a>.</p>
          <h1>2. Pick a Text Editor</h1>
            <p>Either Atom or Sublime will work great. A text editor is for writing code,
               for creating your web apps. When enabled, it
               allows you to run code in a console to see if your code works and
               to see if there are errors.
            </p>
            <a href="https://www.sublimetext.com/">Get Sublime Text Editor</a>
              <p> I love the console I have set up in sublime. Great for running code really quickly.
              </p>
            <a href="https://atom.io/">Get Atom Text Editor</a>
              <p> Atom has a lot of really cool add on features. Love and hate it's auto completion.
                Can't go wrong with atom.
              </p>
          <h1>3. Learn GIT, Specifically Github</h1>
            <a href="https://www.codecademy.com/catalog/language/bash">Learn GIT on codeacademy</a>
              <p>Sign up for a github account; learn how to use github. This
                 is where you store your projects. This is where companies
                 store their projects. Git is a version control system for
                 tracking changes in computer files, for coordinating work
                 on those files with multiple people or for yourself.
              </p>
            <a href="https://github.com/">Sign Up For A Github.com Account</a>
              <p> This is the most prominent git repository. Github is where you store your projects. This is where
                companies store their projects. This is where you can get ruby gems to use, where you can get pre-made
                MERN stack or MEAN stack templates. A place for companies to look at your code to see what you are doing.
              </p>
          <h1>4. Work From A Command Line Interface</h1>
            <a href="https://www.codecademy.com/catalog/language/bash">Learn Linux/CLI Commands On Codeacademy</a>
            <p> You need to learn how to navigate your computer from a terminal/CLI. Using a Mac or Linux based OS provides
                you with a terminal, typically a BASH terminal. Creating files, directories, running a node server, installing
                everything you need for an app; all of this is done from a command line. Learn it, love it, use it. The above
                CodeAcademy link does a great job.
            </p>
          <h1>5. Using Google Chrome Dev Tools</h1>
            <a href="https://developer.chrome.com/devtools">Chrome Dev Tools</a>
            <p>This is a link to learn how to use Chrome Dev Tools. Of course you need Google Chrome to use it.
               You can open it on any website displayed on your
               browser (Google Chrome Only). It allows you to have a console for testing code, to see errors, to examine
               your HTML and CSS, to see what other websites code looks like. You will use it often. Mozilla has one too, but Chrome's
               is used more widely.
            </p>
    </section>
</div>
<%= render "shared/footer" %>
